

.jumbotron {


background-image: repeating-linear-gradient( blue,blue, green, green,white);
padding-bottom: 50px;
height: 250px;
margin-top: -50px;




}
div .alert {

background:white; 
color: black;
border: 10px solid blue;

}

div.card{
background:white; 
color: black;
border: 10px solid blue;

}

div.container-fluid{
margin-top: -40px;
}

.hidden {

display:none;

}





#top{

    margin-top: -200px;

}